#app_header{
 background-image: url(../img/pattern.png);
 background-color: #4da1ff;
 height: 180px;px;
}
.logo{
    height: 90px;
    margin: 90px;
    margin-left: 10px;
}
.title{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 70px;
}
.author{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    color: #a5a5a5;
}
.date{
    font-size: 20px;
    margin-top: 0px;
    color: #a5a5a5;
    margin-bottom: 30px;
}
.caption{
    margin-bottom: 30px;
}
.size_art{
    font-size: 20px;
}
#highlighted{
    background-color: #ffff00;
}
.unorderlist{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}
.headtable{
    background-color:#1aabe6;
    color: white;
}
.spacetable{
    display: inline-block;
    margin-right: 100px;
}
.rowsblue_1{
    text-align: center;
    background-color: #b2e6f2;
}
.title_img{
    color: #a5a5a5;
    margin-top: 40px;
    margin-bottom: 10px;
}
.img_block{
    display: block;
}
